.para{
	color: white;
	width: 90px;
	font-family: sans-serif;
}
.input1
{
	margin-left: 18px;
	margin-top: 18px;
	margin-bottom: 10px;
	width: 250px;
	font-size: 2rem;
}
.input2
{
margin-left: 18px;
	margin-top: 18px;
	margin-bottom: 10px;
	width: 30px;
	font-size: 2rem;	
}
.input3
{
	margin-left: 18px;
	margin-top: 10px;
	width: 150px;
	border-color: black;
	color: white;
	font-size: 2rem;
	background-color: black;
}